body {
    margin: auto
}

.glyphicon-play,.glyphicon-check,.glyphicon-arrow-left,.glyphicon-pause {
    float: right;
    margin-right: 5px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

