.glyphicon-play,.glyphicon-check,.glyphicon-arrow-left,.glyphicon-pause {
    float: right;
    margin-right: 5px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.navbar-nav {
    padding-right: 25px;
}

#header {
    background-color: #428bca;
}

#header::after {
    display: block;
    margin-top: 80px;
}

#addTaskBtn {
    padding: 10px 12px;
}

#taskPage {
    padding-left: 120px;
    padding-right: 0px;
}


/*--------SIDEBAR-------------*/
#taskPageSideBar {
    position: fixed;
    top: 50px;
    left: 0px;
}

.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
    min-height: 800px
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

